.bg-color {
    background: $bg-block;
}

.stock,
.wok,
.pizza,
.rolls,
.sets {
    padding: 33px 0;
    margin-bottom: 2px;    
    &__header {
        font-family: "LemonTuesday", "Arial", sans-serif;
        font-size: 44px;
        line-height: 28px;
        width: 320px;
        text-align: center;
        color: $color-sets;
        position: relative;
        margin: 0 auto 48px;

        &::after {
            content: '';
            background: url('../img/decoration-left.png') center no-repeat;
            position: absolute;
            left: 22px;
            width: 74px;
            height: 27px;
        }

        &::before {
            content: '';
            background: url('../img/decoration-right.png') center no-repeat;
            position: absolute;
            right: 22px;
            width: 74px;
            height: 27px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }
}

@media (min-width: $tablet-width) {
    .stock,
    .wok,
    .pizza,
    .rolls,
    .sets {
        padding-top: 69px;
        padding-bottom: 0;
        min-height: 600px;
        width: 750px;
        margin: 0 auto;
        overflow: hidden;
        
        &__header {
            font-size: 44px;
            width: 320px;
            &::after {
                content: '';
                left: 9px;
                top: -5px;
                width: 84px;
                height: 31px;
                background-size: cover;
            }
    
            &::before {
                content: '';
                right: -7px;
                top: -5px;
                width: 84px;
                height: 31px;
                background-size: cover;
            }
        }

        &__continer {
            position: relative;
            width: 712px;
            padding: 0 4px;
            margin: 0 auto;
            box-sizing: border-box;
        }

        &__pagination {
            left: calc(50% - 135px);
            bottom: -63px;
            margin-left: 5px;
        }
    }    
}

@media (min-width: $desktop-width) {
    .stock,
    .wok,
    .pizza,
    .rolls,
    .sets {
        padding-top: 95px;
        min-height: 640px;
        width: 1170px;
        margin: 0 auto;
        overflow: hidden;

        &__header {
            font-size: 60px;
            width: 400px;
            margin: 0 auto 64px;

            &::after {
                left: 0;
                top: -5px;
                width: 110px;
                height: 40px;
            }
    
            &::before {
                right: 0;
                top: -5px;
                width: 110px;
                height: 40px;
            }
        }


        &__continer {
            width: 1162px;
            padding: 0 4px;            
            margin: 0 auto;
            box-sizing: border-box;
        }
        
        &__wrapper {
            margin: 2px auto;
        }
    }
}