@font-face {
	font-family: "LemonTuesday";
	src: url("/fonts/LemonTuesday.eot"); /* IE9 Compat Modes */
	src: url("/fonts/LemonTuesday.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("/fonts/LemonTuesday.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("/fonts/LemonTuesday.woff") format("woff"), /* Modern Browsers */
	  url("/fonts/LemonTuesday.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("/fonts/OpenSans.eot"); /* IE9 Compat Modes */
	src: url("/fonts/OpenSans.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("/fonts/OpenSans.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("/fonts/OpenSans.woff") format("woff"), /* Modern Browsers */
	  url("/fonts/OpenSans.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans-Semibold";
	src: url("/fonts/OpenSansSemibold.eot"); /* IE9 Compat Modes */
	src: url("/fonts/OpenSansSemibold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("/fonts/OpenSansSemibold.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("/fonts/OpenSansSemibold.woff") format("woff"), /* Modern Browsers */
	  url("/fonts/OpenSansSemibold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: "RobotoSlab-Bold";
	src: url("/fonts/RobotoSlab.eot"); /* IE9 Compat Modes */
	src: url("/fonts/RobotoSlab.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("/fonts/RobotoSlab.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("/fonts/RobotoSlab.woff") format("woff"), /* Modern Browsers */
	  url("/fonts/RobotoSlab.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: "MyriadPro-Regular";
	src: url("/fonts/MyriadPro.eot"); /* IE9 Compat Modes */
	src: url("/fonts/MyriadPro.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("/fonts/MyriadPro.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("/fonts/MyriadPro.woff") format("woff"), /* Modern Browsers */
	  url("/fonts/MyriadPro.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
  }