$mobile-width: 320px;
$tablet-width: 750px;
$desktop-width: 1170px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color: #000000;
$bg-color: #ffffff;
$color-btn-call: #1fba0a;
$line-header: #f2f2f2;
$btn-hover: #84c604;