$mobile-width: 320px;
$tablet-width: 750px;
$desktop-width: 1170px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color: #000000;
$bg-color: #ffffff;
$color-btn-call: #1fba0a;
$line-header: #f2f2f2;
$btn-hover: #84c604;

$banner-head: #84c604;
$banner-time-color: #ffffff;
$ba-sale: #da2024;
$bulet-border: #c2c2c2;
$bulet-active: #1fba0a;
$banner-btn: #fd4f10;
$bg-banner-btn: #00000050;

$color-sets: #32505a;
$article-btn-color: #ffffff;
$article-btn-bg-color: #fd4f10;
$sets-bullet: #b3b3b3;
$sets-bullet-active: #67b437;

$bg-input: #f2f2f2;
$bg-plus: #fd4f10;
$new-color: #ffffff;
$new-bg-color: #1fba0a;